{% extends 'buy_planet/common_template.html' %}

{% block title%}О нас{% endblock%}
{% block content %}
    <body>
        <h1>Про сайт</h1>
        <p class="about-text">Если вам наскучили собственные тропический острова и яхты, а правитиелм страны вы стать не можете, у нас вам
        есть что выбрать! К продаже предлагаются планеты разных цветов, размеров и окупаемости!</p>
        <p class="about-text">Все планеты разделены на несколько категорий: обитаемые планеты (как правило, на них уже есть население и какая-то инфраструктура),
        безжизненные планеты (но не проходите мимо них: нередко на наих имеются важные ресурсы, нужно только вложить средства") и так далее.
        Всё очень логично и интуитивно. Если вы способны вести бизнес крупного масштаба или просто ищете планету для отдыха и жизни, вы сумеете найти
         то, что вам нужно! Удачи!</p>
    </body>
{% endblock %}
</html>